* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.flex {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 30px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid yellow;
  transition: transform 0.5s ease;
}

.item_img:hover {
  transform: scale(1.1);
}
